# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# default configuration
[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 2

# Tab indentation (no size specified)
[Makefile]
indent_style = tab
