{
  "extends": "@dabh/eslint-config-populist",
  "rules": {
    "one-var": ["error", { "var": "never", "let": "never", "const": "never" }],
    "linebreak-style": ["warn", "windows"],
    "strict": 0
  },
  "parserOptions": {
    "ecmaVersion": 2022,
  },
}
